body {
    font:16pt helvetica;
    color:#333;
    margin:0;
}

#band {
    background:#f00;
    padding:2em;
    color:white;
}

#header {
    text-align:center;
    font:small-caps bold 400% Garamond;
}

#sub_header {
    text-align:center;
    letter-spacing:.25em;
}

#input div, #output div {
    font:10pt courier;
    word-wrap:break-word;
}

#input {
    margin:2em 4em 0 4em;
}

#output {
    margin:2em 4em;
}

.wrapper {
    background:#ddd;
    border-radius:2em;
    padding:1em;
    margin-bottom:3em;
    border-top-left-radius:0;
    box-shadow:5px 5px 10px #888;
}

textarea {
    font:inherit;
    border:0;
    width:100%;
    background:transparent;
    outline:none;
}

#input > span, #output > span {
    font:bold 16pt Garamond;
    background:#ddd;
    padding:.25em 1em 0 1em;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}

#arrow {
    font:bold 75pt verdana;
    text-align:center;
    color:#aaa;
    line-height:.5em;
}
