body {
    background:#000 url(bg.png);
    color:#fff;
    font-family:helvetica;
    margin:100px 75px;
}

#header {
    border-bottom:1px solid #fff;
    font-size:18pt;
    margin:0 15px;
}

#title {
    font-size:26pt;
    font-weight:bold;
    margin:10px 15px;
    text-align:right;
}

#title span {
    color:#aaa;
    font-weight:normal;
}

#input div, #input textarea {
    background:rgba(50, 150, 50, .25);
    border:1px solid #444;
    display:inline-block;
    color:#aaa;
    font:10pt verdana;
    height:100px;
    margin:15px;
    padding:1em;
    width:calc(50% - 60px - 1px);
}

#input div {
    opacity:0;
    -webkit-transition: -webkit-opacity .5s, background .5s;
       -moz-transition:    -moz-opacity .5s, background .5s;
        -ms-transition:     -ms-opacity .5s, background .5s;
         -o-transition:      -o-opacity .5s, background .5s;
            transition:         opacity .5s, background .5s;
}

#input div.show {
    opacity:1;
    background-position:center center;
}

#input textarea {
    outline:0;
    resize:none;
}

#input div {
    background:rgba(50, 50, 150, .25);
    overflow:scroll;
    position:relative;
    word-wrap:break-word;
}

#input div {
    background-position:center 300px;
    background-repeat:no-repeat;
}

#input #JavaScriptWrap {
    background-image:url(JavaScript.png)
}

#input #JavaScript {
    background-image:url(JavaScript.png)
}

#input #PHP {
    background-image:url(PHP.png)
}

#input #Python {
    background-image:url(Python.png)
}
